name: Container-tests by GitHub Action at Testing Farm

on:
  issue_comment:
    types:
      - created
jobs:
  build:
    # This job only runs for '[test]' pull request comments by owner, member
    name: Container-tests by GitHub Action on Testing Farm service
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        container-to-test: ["postgresql-container", "s2i-nodejs-container", "s2i-python-container"]
        os: ["fedora", "centos7", "rhel7", "rhel8", "rhel9"]

    if: |
      github.event.issue.pull_request
      && (contains(github.event.comment.body, '[test]') || contains(github.event.comment.body, '[test-all]'))
      && contains(fromJson('["OWNER", "MEMBER"]'), github.event.comment.author_association)
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: "refs/pull/${{ github.event.issue.number }}/head"

      - name: Set variables for Testing Farm
        id: vars
        run: |
          api_key="TF_INTERNAL_API_KEY"
          branch="master"
          tf_scope="private"
          tmt_repo="https://gitlab.cee.redhat.com/platform-eng-core-services/sclorg-tmt-plans"
          if [ "${{ matrix.os }}" == "fedora" || "${{ matrix.os }}" == "centos7" ]; then
            api_key="TF_PUBLIC_API_KEY"
            branch="main"
            tf_scope="public"
            tmt_repo="https://github.com/sclorg/sclorg-testing-farm"
            if [ "${{ matrix.os }}" == "fedora" ]; then
              compose="Fedora-latest"
              context="Fedora"
              tmt_plan="fedora"
            else
              compose="CentOS-7"
              context="CentOS7"
              tmt_plan="centos7"
            fi
          else
            if [ "${{ matrix.os }}" == "rhel7" ]; then
              compose="RHEL-7.9-Released"
              context="RHEL7"
              tmt_plan="rhel7-docker"
            elif [ "${{ matrix.os }}" == "rhel8" ]; then
              compose="RHEL-8.6.0-Nightly"
              context="RHEL8"
              tmt_plan="rhel8-docker"
            else
              compose="RHEL-9.1.0-Nightly"
              context="RHEL9"
              tmt_plan="rhel9-docker"
            fi
          fi
          echo "::set-output name=api_key::$api_key"
          echo "::set-output name=branch::$branch"
          echo "::set-output name=tf_scope::$tf_scope"
          echo "::set-output name=tmt_repo::$tmt_repo"
          echo "::set-output name=compose::$compose"
        shell: bash

      # https://github.com/sclorg/testing-farm-as-github-action
      - name: Schedule tests on external Testing Farm by Testing-Farm-as-github-action
        id: github_action
        uses: sclorg/testing-farm-as-github-action@v1
        with:
          api_key: secrets[${{ steps.vars.output.api_key }}]
          git_url: ${{ steps.vars.output.tmt_repo }}
          git_ref: ${{ steps.vars.output.branch }}
          tf_scope: ${{ steps.vars.output.tf_scope }}
          tmt_plan_regex: ${{ steps.vars.output.tmt_plan }}
          pull_request_status_name: "${{ steps.vars.output.context }}-${{ matrix.container-to-test }}"
          variables: "REPO_URL=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY;REPO_NAME=$GITHUB_REPOSITORY;PR_NUMBER=${{ github.event.issue.number }};OS=${{ matrix.os }};TEST_NAME=test;TESTED_IMAGE=${{ matrix.container-to-test }}"
          compose: ${{ steps.vars.output.compose }}
